body
{
    background-color: rgb(194, 182, 182);
}
h1
{
    padding: 10px;
    height: 80px;
    font-size: 60px;
    background-color: rgb(109, 15, 15);
    color: white;
    text-align: center;
}
h2
{
    color: rgb(71, 69, 69);
    font-size: 30px;
}
img
{
    border: 3px solid #73AD21;
}
a 
{
    text-decoration-color: red;
}
.pigBlue 
{
    font-size: 20px;
    color: blue;
}
.part2
{
    font-size: 20px;
    color: rgb(71, 69, 69);
}
#bio
{
    width: 80%;
    float: left;
}
#textbio
{
    margin-left: 210px;
    width: "240px";
    
}
#pigpic
{
    float: left;
}
#contactinfo
{
    padding-top: 20px;
    font-size: 20px;
    color: rgb(71, 69, 69);
    text-align: auto;
}